# PSP

## Hello, World!

### Print

In [1]:
print("This line will be printed")
print(1)

This line will be printed
1

## Indentation

In [2]:
x = 1
if x ==2:
    print("x is 1")

## Keywords

In [3]:
import keyword
print(keyword.kwlist)
print(len(keyword.kwlist))

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']
35

## Input()

In [4]:
my_val = int(input("enter a number"))
type(my_val)
print(my_val)

12

## Variables and Types

In [5]:
student_marks = 15
print("student_marks")
print(student_marks)

student_marks
15

In [14]:
myint = 7
print(myint)
print(type(myint))

7
<class 'int'>

In [1]:
x = int(5.0)
print(x)

5

In [10]:
myfloat = 7.5
print(myfloat)
print(type(myfloat))

7.5
<class 'float'>

In [16]:
myfloat = float(5)
print(myfloat)

5.0

In [7]:
myvar = '7'
print(myvar)
type(myvar)

7

str

In [8]:
y = int(myvar)
type(y)

int

In [9]:
a = 4 
b = 2 
c = a/b
int(c)

2

In [10]:
my_value = 5
print(my_value)

5

<H2>Constants</H2>

In [35]:
NUM = 5
NUM

5

<H2>Strings</H2>

In [36]:
mystring = "hello"
print(mystring)

hello

In [39]:
mystring = "don't worry about aposthropes"
print(mystring)

don't worry about aposthropes

In [40]:
one = 1
two = 2
three = one + two
print(three)

3

In [12]:
a = "hello "
b = "world"
c = a+b
print(c)

hello world

In [41]:
a, b, c = 1, 2, 3
print(a,b)
print(c)

1 2
3

<H4>Mixing operators is not supported</H4>

In [ ]:
one = 1
two = 2
hello = "hello"
print(one + two + "hello")
#this won't work

<H2>Exercises</H2>

In [35]:
# Assigning values
mystring = "hello"
myfloat = 10.0
myint = 20

# Testing code
if mystring == "hello":
    print("String: %s" % mystring)

if isinstance(myfloat, float) and myfloat == 10.0:
    print("Float: %f" % myfloat)

if isinstance(myint, int) and myint == 20:
    print("Integer: %d" % myint)

String: hello
Float: 10.000000
Integer: 20

<H2>Lists</H2>

In [5]:
mylist = [1,3,5,7,9, "hi", "Hello"]
print(mylist)

[1, 3, 5, 7, 9, 'hi', 'Hello']

In [6]:
#accessing items in a list
for i in range(5):
   print(mylist[i])
   i+1

1
3
5
7
9

In [7]:
value  = mylist[1]
print(value)

3

## Some useful list methods

In [9]:
new_list = [21,33,45,75,91,99]
print(new_list)

[21, 33, 45, 75, 91, 99]

In [10]:
#append
new_list.append(101)
print(new_list)

[21, 33, 45, 75, 91, 99, 101]

In [11]:
#insert
new_list.insert(1,202)
print(new_list)

[21, 202, 33, 45, 75, 91, 99, 101]

In [13]:
#extend 
new_list.extend([200,201,202])
print(new_list)

[21, 202, 33, 45, 75, 91, 99, 101, 200, 201, 202]

In [14]:
#pop
removed_value = new_list.pop()
print(new_list)
print(removed_value)

[21, 202, 33, 45, 75, 91, 99, 101, 200, 201]
202

In [15]:
new_list.pop(1)
print(new_list)

[21, 33, 45, 75, 91, 99, 101, 200, 201]

In [16]:
#remove
new_list.remove(101)
print(new_list)

[21, 33, 45, 75, 91, 99, 200, 201]

In [19]:
#del
del mylist[1]
print(mylist)

[1, 5, 7, 9, 'hi', 'Hello']

## Indexing and Slicing

In [23]:
new_list = [21,33,45,75,91,99]
#Indexing
new_list[2]

45

In [26]:
#Slicing
new_list[1:3]

[33, 45]

In [27]:
new_list[:3]

[21, 33, 45]

In [28]:
new_list[2:4]

[45, 75]

In [29]:
new_list[1:5:2]

[33, 75]

In [30]:
new_list[-3:]

[75, 91, 99]

In [31]:
new_list[::-1]

[99, 91, 75, 45, 33, 21]

<H2>Exercise</H2>

Exercise A

In [47]:
numbers = []
Strings = []
names = ["Gofle", "HiraSingh", "Kajiman" ]

#write your code here
numbers.append(1)
numbers.append(2)
numbers.append(3)

Strings.extend(["Hello", "World"])

second_name = names[1]

#this code is to be filled with arrrays and the second name should be filles with the names list
print(numbers)
print(Strings)
print("the second name on the nameslist is %s" % second_name)

[1, 2, 3]
['Hello', 'World']
the second name on the nameslist is HiraSingh

Exercise B

In [49]:
#Taking Input
name = input("Enter your name")
roll_no = input("enter your roll number")

#Creating a list and adding info
thelist = [name, roll_no]

#Printing the result
print(thelist)

['sanvai', '10']

<H2>Arithematic operations</H2>

In [34]:
numbers = (1+2) *3 /  4.0 -2
print(numbers)

0.25

In [35]:
remainder  = 11 % 3
print(remainder)

2

In [36]:
x = 11//4
x

2

In [38]:
squared = 7 ** 2
cubed = 2 ** 3 

print(squared)
print(cubed)

49
8

## Using operators with String

In [41]:
x = "hello " +  "world"
print(x)

hello world

In [45]:
Lotsofhelloes = "\nhello" * 3
print(Lotsofhelloes)

hello
hello
hello

## Using Operators with Lists

In [46]:
even_numbers = [2,4,6,8]
odd_numbers = [1,3,5,7]
all_numbers= odd_numbers + even_numbers
print(all_numbers)

[1, 3, 5, 7, 2, 4, 6, 8]

In [47]:
print([1,2,3] * 3)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

<H2>Exercise</h2>

In [58]:
x = 7
y = 5
#to do change in this code
x_list = []
y_list = []
big_list = []

#changing the code
for i in range(10):
    x_list.append(i)
for j in range(10):
    y_list.append(j+1)

#concatenating the lists
for i in range(9):
    big_list = x_list + y_list

#Printing the results
print("x list contains %d objects" %len(x_list))
print("y list contains %d objects" %len(y_list))
print("big list contains %d objects " %len(big_list))

#Testing code
if x_list.count(x) == 10  and y_list.count(y) == 10:
    print("almost there...")
if x_list.count(x) == 10  and big_list.count(y) == 10:
    print("Great")

x list contains 10 objects
y list contains 10 objects
big list contains 20 objects

# Mero mathiko logic ni true nei ho tara last ko test sanga milena:(

In [56]:
x = 7
y = 5

# Creating lists with 10 instances of x and y
x_list = [x] * 10
y_list = [y] * 10

# Concatenating the lists
big_list = x_list + y_list

# Printing results
print("x list contains %d objects" % len(x_list))
print("y list contains %d objects" % len(y_list))
print("big list contains %d objects" % len(big_list))

# Testing code
if x_list.count(x) == 10 and y_list.count(y) == 10:
    print("almost there...")
if x_list.count(x) == 10 and big_list.count(y) == 10:
    print("Great")

x list contains 10 objects
y list contains 10 objects
big list contains 20 objects
almost there...
Great

<H2>String formatting</H2>

In [50]:
#this prints out hello world
name = "John"
print("Hello: %s" %name)

Hello: John

In [51]:
#this prints out hello John
score = 7.8898
name = input("enter your name")
print("Hello, %s! welcome to TBC! you scored %.3f" %(name, score))

Hello, John! welcome to TBC! you scored 7.890

In [53]:
#this prints out "john is 23 years old
name = "John"
age = 23
print("%s is %d years old" %(name,age))

John is 23 years old

In [55]:
my_list = [1,2,3]
print("A list: %s " %my_list)

A list: [1, 2, 3]

In [56]:
# f-string literals and the format method
name = "Daniel"
college = "Nami college"
classtime = 11

#C style formatting
print("Hello your name%s is college is%s  and classtime is%d" %(name,college,classtime))
#in python's format method
print("Hello your name is college is and classtime is".format(name,college,classtime))
#using python's f- formatting method
print("Hello your name is {name} college is{college} and classtime is {classtime}")

Hello your nameDaniel is college isNami college  and classtime is11
Hello your name is college is and classtime is
Hello your name is {name} college is{college} and classtime is {classtime}

<H2>Exercise</H2>

Option A

In [59]:
data = ("John", "Doe", 53.44)

format_string = "Hello %s %s. Your current bank balance is $%.2f." %data
print(format_string)

Hello John Doe. Your current bank balance is $53.44.

Option B

In [60]:
data = ("John", "Doe", 53.44)

format_string = f"Hello {data[0]} {data[1]} Your current bank balance is ${data[2]}." 
print(format_string)

Hello John Doe Your current bank balance is $53.44.

Option C

In [61]:
data = ("John", "Doe", 53.44)

format_string = "Hello {} {}. Your current bank balance is ${}." .format(*data)
print(format_string)

Hello John Doe. Your current bank balance is $53.44.

<H2>Basic string operations</H2>

In [59]:
astring = "hello, World!"
print(astring)

hello, World!

In [58]:
astring = "hello, World!"
print(astring.index("o"))

4

In [61]:
astring = "hello, World!"
print(astring.count("1"))

0

In [67]:
mystr = "This NAME!"
print(mystr.swapcase())
print(mystr.lower())

tHIS name!
this name!

In [68]:
astring = "Hello world!"
print(astring)
print(astring[3:7])

Hello world!
lo w

In [69]:
astring= "Hello world"
print(astring[-3::2])

rd

In [70]:
astring= "Hello world"
print(astring[::-1])

dlrow olleH

In [73]:
astring= "Hello world"
print(astring.upper())
print(astring.lower())

HELLO WORLD
hello world

In [75]:
astring= "Hello world"
print(astring.startswith("Hello"))
print(astring.endswith("gibberish"))

True
False

In [78]:
astring= "Hello world"
afewwords= astring.split(" ")
print(afewwords)

['Hello', 'world']

<h2>Conditions</h2>

In [79]:
x = 2
print(x == 2)
print(x == 3)
print(x < 3)

True
False
True

In [80]:
if (x == 2):
    print("yay!")

yay!

## Boolean Operators / Logical Operators

In [84]:
name = "john"
age = 23
if name == "John" and age == 23:
    print("Your name is john, and you are also 23 years old")
 
if name == "John" or name == "Rick":
    print("Your name is either john or rick.")

In [25]:
#The 'in' operator
x = "abc" 
x in "abcdef"

True

In [26]:
name = "John"
if name in ["John", "Rick"]:
    print("Your name is either John or Rick")

Your name is either John or Rick

Python uses indentation to dfine code blocks, instead of using brackets it uses 4 spaces i.e.

In [29]:
# if<statement is = "" true="">:
#     <do something="">
#     ....
#     ....
# elif <another statement="" is = "" true="">
#     <do something="" else="">
#     ....
#     ....
# elise <another="" thing="">
#     ....
#     ....
# </do></do></another></do></statement>

In [ ]:
x = 4*0.5
if x == 2:
   print("x equals two")
else:
   print("x does not equal to two")

In [87]:
odd_list = [1,2,3,4,5]
even_list = []

if odd_list:
    print(odd_list)
if even_list:
    print(even_list)

[1, 2, 3, 4, 5]

## Ternary Operator

In [32]:
x = int(7)  # Convert x to an integer if it's a string
number_type = 'odd' if x % 2 != 0 else 'even'
print(number_type)

odd

In [34]:
x = 8
number_type = 'even' if x%2==0 else 'odd'
print(number_type)

even

## The'is' operator

In [95]:
x = [1,2,3]
y = [1,2,3]
print( x == y)
print( x is y)

True
False

In [97]:
num = [1,2,3,5,7]
num_copy = num.copy()

In [98]:
num_copy

[1, 2, 3, 5, 7]

In [99]:
num

[1, 2, 3, 5, 7]

In [100]:
num is num_copy

False

## The "not" operator

In [102]:
print(not False)
print((not False) == (False))

True
False

## Exercise

In [74]:
#Change this code
number = 1
second_number = 5
first_array = []
second_array = []

#Changing the code
while number < 15+1:
    number += 1
while second_number != 0:
    second_number -= 1


#Manipulating lists
first_array.append(1)
first_array.extend([2,3])

second_array.append(4)
second_array.append(5)

#Are the conditions true? It should....
if number > 15:
    print("1")

if first_array:
    print("2")

if len(second_array) == 2:
    print("3")

if len(first_array) + len(second_array) == 5:
    print("4")

if first_array and first_array[0] == 1:
    print("5")

if not second_number:
    print("6")

1
2
3
4
5
6

## LOOPS

### For loop

In [105]:
primes = [2,3,5,7,9]

for x in primes:
    print(x)

2
3
5
7
9

In [106]:
for x in range(len(primes)):
    print(primes[x])

2
3
5
7
9

In [107]:
for x in range(5):
    print(x)

0
1
2
3
4

In [108]:
for x in range(3,6):
    print(x)

3
4
5

In [109]:
for x in range(3,8,2):
    print(x)

3
5
7

## "while" loop

In [111]:
marks = [30,25,28,35,32]
count = 0
while count < len(marks):
    print(count)
    count +=1

0
1
2
3
4

In [112]:
#prints out theactual marks
marks = [30,25,28,35,32]
count = 0
while True:
    if count >= len(marks):
       break
    print(marks[count])
    count +=1

30
25
28
35
32

## "break" and "continue" statements

In [113]:
count = 0
while True:
    if count >= 5:
        break
    print(count)
    count += 1

0
1
2
3
4

In [114]:
marks = [50,55,70,"F",33]
for i in marks:
    if i == "F":
        break
    print(i)

50
55
70

In [115]:
for x in range(10):
    if x%2 == 0:
        continue
    print(x)

1
3
5
7
9

In [117]:
for x in range(1,11):
    if x%2 == 0:
        print("even")
        continue
    print(x)

1
even
3
even
5
even
7
even
9
even

## can we use "else" clause for loops?

In [125]:
count = 0
while (count < 5):
    print(count)
    count += 1  # Corrected increment

else:
    print("count value reached %d" % count)

0
1
2
3
4
count value reached 5

In [126]:
for i in range(1,10):
    if(i%5 == 0):
        break
    print(i)
else:
    print("this is not printed because for loop is terminated because of break out due to fall in condition ")

1
2
3
4